*.d
*.o
*.a
addons/*
examples/*
libs/macos
tests/*

.DS_Store
Thumbs.db
Desktop.ini

libs/_*
!/libs/openFrameworks
!/libs/openFrameworksCompiled

# also, see examples/.gitignore

#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex

#########################
# IDE
#########################

# VSCode
*.code-workspace
.vscode

# XCode
examples/**/*.entitlements
examples/**/*.xcconfig
examples/**/*.plist
examples/**/*.yml
tests/**/*.entitlements
tests/**/*.xcconfig
tests/**/*.plist
tests/**/*.yml
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders


#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
*.swp
*~.nib
# Thumbnails
._*
examples/ios/**/mediaAssets


# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Android Studio
*.iml

#########################
# miscellaneous
#########################

.mailmap
/apps*/
.cxx/

examples/**/Makefile
examples/**/config.make

libs/openFrameworksCompiled/project/vs/.vs/
scripts/templates/vs/.vs/
**/.vs/
libs/openFrameworksCompiled/project/osx/openFrameworksLib.xcodeproj/xcshareddata
scripts/templates/ios/bin
libs/openFrameworksCompiled/project/tvOS/tvOS+OFLib.xcodeproj/xcshareddata
scripts/osx/regressionTest
examples/**/**/[Cc]onfig.make
*.key
*.pem
libs/openFrameworksCompiled/project/vs/openframeworksLib.vcxproj.user
libs/openFrameworksCompiled/project/vs2019/openframeworksLib.vcxproj.user
scripts/templates/vs/bin/emptyExample_debug.exe
scripts/templates/vs2019/emptyExample.vcxproj.user
