//// define which C++ library is required to build, based on target architecture

//EXCLUDED_SOURCE_FILE_NAMES=$(OF_PATH)/libs/openFrameworks/graphics/ofCairoRenderer.h $(OF_PATH)/libs/openFrameworks/graphics/ofCairoRenderer.cpp
//EXCLUDED_SOURCE_FILE_NAMES=$(OF_PATH)/libs/openFrameworks/graphics/ofCairoRenderer.h $(OF_PATH)/libs/openFrameworks/graphics/ofCairoRenderer.cpp
EXCLUDED_SOURCE_FILE_NAMES = $(inherited) ofCairoRenderer.* ofGraphicsCairo.*

CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++11

CLANG_ENABLE_OBJC_ARC = YES

MACOSX_DEPLOYMENT_TARGET = 10.9

HEADER_OF = "$(OF_PATH)/libs/openFrameworks/**"
HEADER_GLFW = "$(OF_PATH)/libs/glfw/include"
HEADER_TESS2 = "$(OF_PATH)/libs/tess2/include"

HEADER_UTF8 = "$(OF_PATH)/libs/utf8/include"
HEADER_JSON = "$(OF_PATH)/libs/json/include"
HEADER_GLM = "$(OF_PATH)/libs/glm/include"

HEADER_CURL = "$(OF_PATH)/libs/curl/include"
HEADER_URIPARSER = "$(OF_PATH)/libs/uriparser/include"
HEADER_PUGIXML = "$(OF_PATH)/libs/pugixml/include"

LIB_GLFW = "$(OF_PATH)/libs/glfw/lib/osx/glfw3.a"
LIB_TESS = "$(OF_PATH)/libs/tess2/lib/osx/tess2.a"

LIB_CURL = "$(OF_PATH)/libs/curl/lib/osx/curl.a"
LIB_URIPARSER = "$(OF_PATH)/libs/uriparser/lib/osx/uriparser.a"
LIB_PUGIXML = "$(OF_PATH)/libs/pugixml/lib/osx/pugixml.a"

LIB_OF = "$(OF_PATH)/libs/openFrameworksCompiled/lib/osx/openFrameworks.a"
LIB_OF_DEBUG = "$(OF_PATH)/libs/openFrameworksCompiled/lib/osx/openFrameworksDebug.a"

OF_CORE_LIBS = $(inherited) $(LIB_GLFW) $(LIB_TESS) $(LIB_CURL) $(LIB_URIPARSER) $(LIB_PUGIXML)

OF_CORE_HEADERS = $(inherited) $(HEADER_OF) $(HEADER_GLFW) $(HEADER_TESS2) $(HEADER_UTF8) $(HEADER_JSON) $(HEADER_GLM) $(HEADER_CURL) $(HEADER_URIPARSER) $(HEADER_PUGIXML)

OF_CORE_FRAMEWORKS = $(inherited) -framework Accelerate -framework AGL -framework AppKit -framework ApplicationServices -framework AudioToolbox -framework AVFoundation -framework Cocoa -framework CoreAudio -framework CoreFoundation -framework CoreMedia -framework CoreServices -framework CoreVideo -framework IOKit -framework OpenGL -framework QuartzCore -framework Security




// FREEIMAGE
HEADER_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/include"
LIB_FREEIMAGE = "$(OF_PATH)/libs/FreeImage/lib/osx/freeimage.a"

OF_CORE_LIBS = $(inherited) $(LIB_FREEIMAGE)
OF_CORE_HEADERS = $(inherited) $(HEADER_FREEIMAGE)

#include "Glew.xcconfig"
#include "Audio.xcconfig"

//EXCLUDED_SOURCE_FILE_NAMES = $(inherited) ofTrueTypeFont.*
#include "Freetype.xcconfig"
#include "Cairo.xcconfig"


ALWAYS_SEARCH_USER_PATHS = NO
DISABLE_MANUAL_TARGET_ORDER_BUILD_WARNING = YES

